#root{
	-fx-background-color:#D8F3FF;
}
.button{
	-fx-font-family: Arial;
	-fx-font-weight: bold ;
	-fx-font-style:italic;
	-fx-text-fill: white;
}

.button:hover{
	-fx-background-color:#36C2FF;
	-fx-text-fill: black;
	-fx-font-style:oblique;
}
.operatorsOne{
	-fx-background-color:#098CC4;
}
.operatorsBasic{
	-fx-background-color:#006490;
}
.numbersStyle{
	-fx-background-color:#36A7D8;
}
